<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>  
  <div class="carousel">
   <img src="http://i.imgur.com/pnV7ukY.jpg" class="img-responsive" alt="Responsive image">
  </div> 
  <head>
    
    <style>
      body {
        text-align: center;
        background-position: center;
        color: gray;
        font-family: helvetica;
      }
      p {
        font-size: 22px;
      }
    
    </style>
  </head>
  <body>
    <div>
      <img src="http:/i.imgur.com/CcHHUpA">
      <p>Hi! Sign up for a funnier version of twitter here. Seriously.</p>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div> 
    
    <%= link_to image_tag("rails.png"),
                    'http://indianajones.wikia.com/wiki/Short_Round' %>
  </body>
<% end %>