<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>  
    
  <head>
    <title>I'm just a guy who's a hero for fun.</title>
    <style>
      body {
        text-align: center;
        background-position: center;
        color: gray;
        font-family: helvetica;
      }
      p {
        font-size: 22px;
      }
      .full {
        background: url('http://i.imgur.com/pnV7ukY.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }
  
    </style>
  </head>
  <body>
    <img src="http://imgur.com/CcHHUpA">
    <p>Hi! Sign up for a funnier version of twitter here. Seriously.</p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

    <%= link_to image_tag("rails.png"),
                    'http://indianajones.wikia.com/wiki/Short_Round' %>
  </body>
<% end %>